{% extends "base.html" %}
{% block extra_head %}

{% endblock %}

{% block featureBox %}

    <h2>Feature Form:</h2>
        <form enctype="multipart/form-data" action="." method="POST">

        {% if error %}
          <p class="error">ERROR: {{error}}</p>
        {% endif %}
        
        
        {% if form.errors %}
          <p class="error">Please correct the errors below.</p>
        {% endif %}
    
        {{ form.as_p }}
        <input type="submit" value="Upload" />
        </form>

    
{% endblock %}

