{% extends "base.html" %}
{% block extra_head %}


{% endblock %}

{% block featureBox %}
    {% if not user.is_authenticated %}
    
            {% if form.errors %}
                    <p class="error">Sorry, that's not a valid username or password</p>
            {% endif %}

            <form action='/login/' method='POST'>
                    <label for="username">User:</label>
                    <input type="text" name="username" value="" id="username">
                    <label for="password">Password:</label>
                    <input type="password" name="password" value="" id="password">
                    <input type="submit" value="API Login" />
                    <input type="hidden" name="next" value="{{ next|escape }}" />
            </form>
     <br>       
    {% endif %}
    
{% load media %}
 <img src="{% media_url %}/img/georegistry_logo.png"></img>
<br> <br> 
<h1>RESTful API Webservice</h1>
<p><a HREF="http://www.georegistry.org">(Click here for the client site)</a>
</p>
<br> <br> 
    <h2>Introduction:</h2>
    <br>
    <p>Welcome to the Georegistry, the geospatial health repository developed
    by the <a HREF="http://www.earth.columbia.edu/"> 
    Earth Institute </a> at Columbia University. This site,
    http://api.georegistry.org, is webservice's root (a.k.a. the root URL for
    the API ).</p>
    <p>
    If you are a developer you may wish to review the
    <a HREF="http://readthedocs.org/docs/georegistry/latest/"> developer
    documentation</a>, or <a href="/accounts/register">request access</a> to the
    application programming interface (API).
    </p>
    
		
  <br></br>      
<h2>Developer Links:</h2>
<br> 
<ul>
<li> <a href="/api/1.0/createfeature/">Example: Create a new feature in the Georegistry (API Account and permission required)</a> </li>
<li> <a href="https://github.com/mangroveorg/georegistry_web/tree/master/data-import-tools">Import Tools</a> </li>
<li> <a href="https://github.com/mangroveorg/georegistry_web">Georegistry Client Website Source Code</a> </li>
</ul>
<br></br>  <br></br>  
    <img src="{% media_url %}/img/Rsrch_HomeBanner_2.jpg"></img>
    <p>Please pardon our mess.  This site is still under construction. :-)</p>
{% endblock %}
