{% extends "base.html" %}
{% block extra_head %}


{% endblock %}

{% block featureBox %}
    {% if not user.is_authenticated %}
            {% if form.errors %}
                    <p class="error">Sorry, that's not a valid username or password</p>
            {% endif %}

            <form action='/login/' method='POST'>
                    <label for="username">User:</label>
                    <input type="text" name="username" value="" id="username">
                    <label for="password">Password:</label>
                    <input type="password" name="password" value="" id="password">
                    <input type="submit" value="API Login" />
                    <input type="hidden" name="next" value="{{ next|escape }}" />
            </form>
            
    {% endif %}
    
{% load media %}
 <img src="{% media_url %}/img/georegistry_logo.png"></img>


    <h2>Introduction:</h2>
    <p>Welcome to the Georegistry, the geospatial health index service developed
    by the Earth Institute. What makes georegistry special is that it is deisgned
    to build high-quality, vetted health information from multiple sources.
    Georegistry provides a standardized way to collect and store health data
    that is often kept in spreadsheets in incompatiable formats. To see a client example visit
    <a HREF="http://www.georegistry.org">http://www.georegistry.org</a>. You can also 
    have a look at the <a HREF="http://readthedocs.org/docs/georegistry/latest/"> developer
    documentation</a>, or <a href="/accounts/register">request access</a> to the
    application programming interface(API). Currently, we are only accepting input
    from governments and NGOs sources for the following countries:
    <br></br>
    <ul>
    <li>Nigeria</li>
    <li>Ghana</li>
    </ul>
<br>
    <h2>Georegistry Capabilities:</h2>
    <ul>
    <li>Store and search multiple spellings or langauages for a single item</li>
    <li>Duplicate detection</li>
    <li>Flag items as "offical" or government verified</li>
    <li>Historical storage and search</li>
    <li>Spreadsheet import tools data</li>
    <li>Developer Friendly: RESTful API serving GeoJSON, open source, Client Examples with Source Code</li>
    <li>Commect via mobile decvices, web, xforms, or other application</li>
   </ul>
    
		
  <br></br>      
<h2>Developer Links:</h2>
<ul>
<li> <a href="/api/1.0/createfeature/">API: Create a new feature in the Georegistry (API Account and permission required)</a> </li>
<li> <a href="https://github.com/mangroveorg/georegistry_web/tree/master/data-import-tools">Import Tools</a> </li>
<li> <a href="https://github.com/mangroveorg/georegistry_web">Georegistry Client Website Source Code</a> </li>
<li> <a href="https://github.com/mangroveorg/georegistry">Georegistry Server Website Source Code</a> </li>
</ul>
<br></br>  <br></br>  
    <img src="{% media_url %}/img/Rsrch_HomeBanner_2.jpg"></img>
    <p>Please pardon our mess.  This site is still under construction. :-)</p>
{% endblock %}
